body{
    font-family: Arial;
    background:#222;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.calculator{
    background:#333;
    padding:20px;
    border-radius:10px;
}

#display{
    width:92%;
    height:50px;
    font-size:22px;
    margin-bottom:10px;
    text-align:right;
    padding:10px;
    border-radius: 10px;
    color: #fff;
}

.buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}

button{
    height:50px;
    font-size:18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#444;
    color:white;
    transition:0.2s;
}

button:hover{
    background:#666;
    transform:scale(1.08);
}

button:active{
    transform:scale(0.95);
}

.zero{
    grid-column: span 2;
}